---
layout: default
title: Brian Chase's Resume
---
<section id="header">
<h1>Brian C Chase</h1>
<h2>Data Analysis and Economics Research</h2>
<p><em><a href="/Brian Chase - resume.pdf" target="new">link to pdf</a></em></p>
</section>
<section class="education">
  <h2>Education</h2>
  {% for education in site.education %}
    <h3>{{ education.name }}</h3>
    <em>{{ education.degree }}, {{ education.year }}</em>
    {{ education.content | markdownify }}
  {% endfor %}
</section>
<section class="experience">
  <h2>Experience</h2>
  {% for experience in site.experience %}
    <h3>{{ experience.role }}</h3>
    <h4>{{ experience.employer }}, {{ experience.years }}</h4>
    {{ experience.content | markdownify }}
  {% endfor %}
</section>
