---
layout: default
title: Brian Chase's Resume
---
<p><a href="/Brian Chase - resume.pdf" target="new">link to pdf</a></p>
<br>
<section id="Education">
  <<h2>Education</h2>
  <div id="JHU">
    {% include education.html university="Johns Hopkins University" degree="M.S. Applied Economics" year="2020"%}
  </div>
  <div id="WM">
    {% include education.html university="College of William & Mary" degree="B.S. Physics, Economics" year="2012"%}
  </div>
</section>
<section id="Experience">
  <h2>Experience</h2>
  <ul>
    <li>BASIS</li>
    <li>Hangzhou Normal University Affiliated High School</li>
    <li>Hangzhou Number 4 High School</li>
    <li>Louis Berger International</li>
    <li>Bear American English School</li>
  </ul>
</section>
